table th:first-child{
  border-radius: 25px 0 0 0;
}

table th:last-child{
  border-radius:0 25px 0 0;
}

.thead {
	background-color: #421d13;
	color: white;
}

.Done:nth-child(odd) {
	background-color: #e8e5e5;
}

.Done:nth-child(even) {
	background-color: #f4f4f4;
}

.Cancelled:nth-child(odd) {
	background-color: #ffeded;
}

.Cancelled:nth-child(even) {
	background-color: #fcdbdb;
}

.In:nth-child(odd) {
	background-color: #f2e5d5;
}

.In:nth-child(even) {
	background-color: white;
}

.home {
	background: url('https://raw.githubusercontent.com/zivile777/shop-webapp/master/Resources/Home.png') no-repeat center;
	width: 50px;
 	height: 50px;
 	display: block;
	margin: 0 5px 5px 5px;
	background-size: contain;
}

.inbox {
	background: url('https://raw.githubusercontent.com/zivile777/shop-webapp/master/Resources/Inbox.png') no-repeat center;
	width: 50px;
 	height: 50px;
 	display: block;
	margin: 0 5px 5px 5px;
	background-size: contain;
}

.calendar {
	background: url('https://raw.githubusercontent.com/zivile777/shop-webapp/master/Resources/Calendar.png') no-repeat center;
	width: 50px;
 	height: 50px;
 	display: block;
	margin: 0 5px 5px 5px;
	background-size: contain;
}

.profile {
	background: url('https://raw.githubusercontent.com/zivile777/shop-webapp/master/Resources/Profile.png') no-repeat center;
	width: 50px;
 	height: 50px;
 	display: block;
	margin: 0 5px 5px 5px;
	background-size: contain;
}

.container {
	background-color: #d38723;
	width: 100%;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-ul {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.input {
	border-radius: 25px;
}
